*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 1200px;
    font-family: 'Rock Salt';
}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0px;
    z-index: 999;
    border-bottom: 1px solid yellow;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}
#navbar_logo{
    background-color: #edc707;
    background-image: linear-gradient(to right, #edac07 0%, #edda07 100%);
    background-repeat: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    font-size: 3rem;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}


.navbar_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_items{
    height: 80px;

}
.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    line-height: 25px;
    
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}
.button{
    color: black;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #edac07 0%, #edda07 100%);;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}
.button:hover{
    background-image: linear-gradient(to right, #edac07 0%, #edda07 100%);
    color: black;
    text-shadow: grey 2px 1px;
    transition: all 0.5s ease;
}
.navbar_links:hover{
    background: #edc707;
    color: black;
    transition: all 0.3s ease;
}

body{
    background: #131313;
    
}
.main{
    color: white;
    display: flex;
    flex-direction: column;
    background: url(images/greece.png);
    background-size: repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-repeat: repeat-y round;
    -moz-background-repeat: repeat-y round;
    -o-background-repeat: repeat-y round;
    background-repeat: repeat-y round;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   
    height: 90vh;
    min-height: 800px;
    
    
}
.olympians_container{
    height: 100vh;
}
.olympian_heading{
    color: white;
    text-align: center;
}
.olympian_text{
    text-align: center;
    color: white;
    padding: 20px;
    

}
.god_container{
    position: relative;
}
.god_content{
    position: absolute;
    top: 30%;

}
#zeus{
    background-image: url(images/zeus.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#poseidon{
    background-image: url(images/poseidon.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}
#apollo{
    background-image: url(images/apollo.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
     
}
.olympus_container{
    position: relative;
    background-image: url(images/olympus.jpg);
    height: 100vh;
}
.olympus_content{
    position: absolute;
    top: 30%
}
.olympus_heading{
    color: white;
    text-align: center;
}
.olympus_text{
    color: white;
    text-align: center;
    padding: 30px;
}
.credits{
    margin: 2rem;
    font-size: 10px;
    position: absolute;
    bottom: 10px;
}
.contact_content{
    height: 100vh;
}
.main_container{
    
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main_content{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 25px;

    
}




@media screen and (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 960px;
        padding: 0px;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }
    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: 1.6rem;
    }
    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px 10px;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar_items{
        width: 100%;
    }

    .navbar_toggle{
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 10px;
    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_btn{
        margin: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
        align-items: center;
        justify-items: center;
    }

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .credits{
        position: static;
    }
}
/* this is all a comment
all 
you
have
to 
do
is
press
command
+
/ */



